<!-- begin post -->
<div class="card">
    {% if post.image %}
    <a href="{{ site.baseurl }}{{ post.url }}">
        <img class="img-fluid" src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
    </a>
    {% endif %}
    <div class="card-body">
        <h2 class="card-title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
        <div class="metafooter">
            <div class="wrapfooter">
                {% if post.author %}
                <span class="author-meta">
                    By {{ post.author }}
                </span>
                {% endif %}
                <span class="post-date">{{ post.date | date_to_string }}</span>
            </div>
        </div>
    </div>
</div>
<!-- end post -->