{% capture toc %}
  {% assign minH = include.h_min | default: 1 %}
  {% assign maxH = include.h_max | default: 6 %}
  {% assign nodes = include.html | strip | split: '<h' %}
  {% assign listType = include.ordered | default: false | ternary: "ol", "ul" %}
  
  <{{ listType }} class="toc-list">
  {% for node in nodes %}
    {% if node == "" %}{% continue %}{% endif %}
    
    {% assign headerLevel = node | replace: '"', '' | slice: 0, 1 | times: 1 %}
    {% if headerLevel < minH or headerLevel > maxH %}{% continue %}{% endif %}
    
    {% assign _workspace = node | split: '</h' %}
    
    {% comment %} Get ID {% endcomment %}
    {% assign _idWorkspace = _workspace[0] | split: 'id="' %}
    {% assign _idWorkspace = _idWorkspace[1] | split: '"' %}
    {% assign htmlID = _idWorkspace[0] %}
    
    {% comment %} Check for no_toc class {% endcomment %}
    {% assign _classWorkspace = _workspace[0] | split: 'class="' %}
    {% assign _classWorkspace = _classWorkspace[1] | split: '"' %}
    {% assign htmlClass = _classWorkspace[0] %}
    {% if htmlClass contains "no_toc" %}{% continue %}{% endif %}
    
    {% comment %} Get heading text {% endcomment %}
    {% capture _hAttrToStrip %}{{ _workspace[0] | split: '>' | first }}>{% endcapture %}
    {% assign header = _workspace[0] | replace: _hAttrToStrip, '' | strip_html %}
    
    <li class="toc-item toc-h{{ headerLevel }}">
      {% if htmlID %}
        <a href="#{{ htmlID }}">{{ header }}</a>
      {% else %}
        {{ header }}
      {% endif %}
    </li>
  {% endfor %}
  </{{ listType }}>
{% endcapture %}

{% if include.class %}
  <div class="{{ include.class }}">
    {% if include.title %}
      <div class="toc-title">{{ include.title }}</div><hr class="toc-divider">
    {% endif %}
    {{ toc }}
  </div>
{% else %}
  {{ toc }}
{% endif %}